.Add {
    display: flex;
    flex-direction: row;
}

.Form {
    margin: 20px 60px;
    display: flex;
    min-width: 200px;
    flex-direction: column;
}

.Form input {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

.Form select {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

.Form textarea{
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

.Form button {
    margin: 10px 0px;
    padding: 10px 20px;
    width: 100px;
    border: 1px solid #ccc;
}
.Form button:hover,
.Form button:active {
    cursor: pointer;
    background-color: rgb(177, 177, 177);
}

.Poem {
    margin: 20px 70px;
    padding: 10px 20px;
    text-align: start;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid gray;
    border-radius: 6px;
}

@media (min-width: 600px) {
    .Form {
        width: 500px;
    }
}